
@{
    ViewBag.Title = "Start";
}

<h2>Startpage IMDB</h2>

<h3>u see this? @ViewBag.test </h3>
<p>@Html.ActionLink("Go To Films", "Index", "Film")</p>

@for (int i = 0; i < ViewBag.numTimes; i++)
{
    <p>textline no. @i</p>
}

